
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        p {
            font-family: "Segoe UI";
            font-size: 3vw;
            margin-top: 10vh;
        }

        .line {
            position: relative;
            width: 45vw;
            height: 5px;
            background-color: orange;
            border-radius: 25px;
        }

        .under-section {
            position: absolute;
            text-align: center;
            font-size: 1.5vw;
            font-family: "Segoe UI";
            left: 10vw;
        }

        #home {
            text-decoration: underline;
        }

        #button {
            padding-left: 55px;
            padding-right: 55px;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 3px solid orange;
            background-color: orange;
            color: white;
            text-align: center;
            display: block;
            margin: 0 auto;
            font-size: 2vw;
            font-weight: 600;
            border-radius: 15px;
        }

            #button:hover {
                background-color: white;
                color: orange;
            }

        .pic {
            width: 45vw;
            height: auto;
            position: absolute;
            top: 5vh;
            left: -7vw;
        }
    </style>
    <h1>Access Denied</h1>
    <hr />
</head>

<div>
    <h2>Please login or register if needed!</h2>
    </div>
