<div class="container p-5">
    <div class="row align-items-start">
        <div class="col" style="height: 100px;">
            <input type="file" id="img" name="img" accept="image/*">
        </div>
        <div class="col">
            <div>
                <label>Wish name</label>
                <input type="text" class="form-control" placeholder="Enter Wish">
            </div>
            <div>
                <label>Link</label>
                <input type="text" class="form-control" placeholder="Enter Link">
            </div>


        </div>
    </div>
    <div class="container mt-5">
        <div class="form-floating ">
            <textarea class="form-control " style="height: 100px"></textarea>
            <label for="floatingTextarea">Description</label>
        </div>
    </div>

    <div class="row justify-content-between mt-3">
        <div class="col-4">
            <a class="btn btn-danger">Cancel</a>
        </div>
        <div class="col-1">
            <a class="btn btn-primary">Done</a>
        </div>
    </div>

</div>